Сформируйте словарь, ключами в котором будут числа от 1 до 20, а значениями – квадраты этих чисел

In [1]:
{val: val ** 2 for val in range(1, 21)}

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [2]:
dictionary = {a: a ** 2 for a in range(1, 21)}
dictionary

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [3]:
new_dict = {num: num ** 2 for num in range(1, 21)}
new_dict

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [4]:
my_dict = {}
for num in range(1, 21):
    my_dict[num] = num ** 2
my_dict

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [5]:
# Сортировка словарей

my_dict = {
    'id1': 654321, 
    'id2': 123456, 
    'id3': 777777
}

In [7]:
sorted(my_dict, reverse=True)

['id3', 'id2', 'id1']

In [8]:
sorted(my_dict.values(), reverse=True)

[777777, 654321, 123456]

In [10]:
dict(sorted(my_dict.items(), key=lambda kv: kv[1]))

{'id2': 123456, 'id1': 654321, 'id3': 777777}

In [12]:
# {k: v for k, v in sorted(my_dict.items(), key=lambda kv: kv[1])}

{'id2': 123456, 'id1': 654321, 'id3': 777777}

In [13]:
# найдем сумму элементов по главной диагонали

data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

In [14]:
sum([val[num] for num, val in enumerate(data)])

103

In [15]:
sum([line[i] for i, line in enumerate(data)])

103

In [17]:
result = 0
for i, row in enumerate(data):
#     print(i, row)
    result += row[i]
result

103

In [18]:
# обратная диагональ
sum([line[-i-1] for i, line in enumerate(data)])

124

Удалим из словаря все пустые элементы (со значением None)

In [19]:
my_dict = {
    'id1': 123456, 
    'id2': 654321, 
    'id3': None,
    'id4': 777777
}

In [22]:
result_dict = {}
for key, value in my_dict.items():
    if value is not None:
        result_dict[key] = value
result_dict

{'id1': 123456, 'id2': 654321, 'id4': 777777}

In [23]:
result_dict = {}
for key, value in my_dict.items():
    if value:
        result_dict[key] = value
result_dict

{'id1': 123456, 'id2': 654321, 'id4': 777777}

In [25]:
{key: val for key, val in my_dict.items() if val is not None}

{'id1': 123456, 'id2': 654321, 'id4': 777777}

In [26]:
{key: val for key, val in my_dict.items() if val}

{'id1': 123456, 'id2': 654321, 'id4': 777777}

Посчитаем средний возраст в коллективе

In [28]:
people = {1: {'name': 'Oleg', 'age': '29', 'sex': 'Male'},
          2: {'name': 'Kate', 'age': '21', 'sex': 'Female'},
          3: {'name': 'Liza', 'age': '24', 'sex': 'Female'},
          4: {'name': 'Pavel', 'age': '36', 'sex': 'Male'}}

In [30]:
sum_age = 0
for data in people.values():
    sum_age += int(data['age'])

print(f'средний возраст - {sum_age / len(people)} лет')

средний возраст - 27.5 лет

In [31]:
sum([int(info['age']) for info in people.values()]) / len(people)

27.5

Выведем информацию о странах в читаемом виде

In [32]:
europe = {'spain': {'capital':'madrid'},
           'france': {'capital':'paris'},
           'germany': {'capital':'berlin'},
           'norway': {'capital':'oslo'}}

The capital of Spain is Madrid  
The capital of France is Paris  
The capital of Germany is Berlin  
The capital of Norway is Oslo

In [33]:
for country, info in europe.items():
    print(f"The capital of {country.capitalize()} is {info['capital'].capitalize()}")

The capital of Spain is Madrid
The capital of France is Paris
The capital of Germany is Berlin
The capital of Norway is Oslo

In [34]:
for country, info in europe.items():
    print(f'The capital of {country.capitalize()} is {info["capital"].capitalize()}')

The capital of Spain is Madrid
The capital of France is Paris
The capital of Germany is Berlin
The capital of Norway is Oslo

Посчитайте сколько раз каждое слово встречалось в тексте

Вывести в формате: "слово": "количество вхождений"

За разделитель считаем пробел, все слова приводим к нижнему регистру

In [35]:
some_oxy_text = '''
Весь мой рэп, если коротко, про то, что
Уж который год который город под подошвой
В гору, когда прет. Потом под гору, когда тошно
Я не то, что Гулливер, но все же город под подошвой
Город под подошвой, город под подошвой
Светофоры, госпошлины, сборы и таможни
Я не знаю, вброд или на дно эта дорожка
Ты живешь под каблуком, у меня - город под подошвой
'''

In [39]:
word_list = some_oxy_text.replace('\n', ' ').replace(',', '').split()
result_dict = {}
for word in word_list:
    if word.lower() not in result_dict:
        result_dict[word.lower()] = 1
    else:
        result_dict[word.lower()] += 1
result_dict

{'весь': 1,
 'мой': 1,
 'рэп': 1,
 'если': 1,
 'коротко': 1,
 'про': 1,
 'то': 2,
 'что': 2,
 'уж': 1,
 'который': 2,
 'год': 1,
 'город': 5,
 'под': 7,
 'подошвой': 5,
 'в': 1,
 'гору': 2,
 'когда': 2,
 'прет.': 1,
 'потом': 1,
 'тошно': 1,
 'я': 2,
 'не': 2,
 'гулливер': 1,
 'но': 1,
 'все': 1,
 'же': 1,
 'светофоры': 1,
 'госпошлины': 1,
 'сборы': 1,
 'и': 1,
 'таможни': 1,
 'знаю': 1,
 'вброд': 1,
 'или': 1,
 'на': 1,
 'дно': 1,
 'эта': 1,
 'дорожка': 1,
 'ты': 1,
 'живешь': 1,
 'каблуком': 1,
 'у': 1,
 'меня': 1,
 '-': 1}

In [43]:
data = some_oxy_text.lower().replace("-", "").replace(",", "").split()
result = {}
for word in set(data):
    result[word] = data.count(word)


for word, count in sorted(result.items(), reverse=True, key=lambda val: val[1]):
    print(f'{word}: {count}')

под: 7
подошвой: 5
город: 5
гору: 2
я: 2
то: 2
который: 2
не: 2
что: 2
когда: 2
мой: 1
дно: 1
прет.: 1
год: 1
гулливер: 1
весь: 1
меня: 1
таможни: 1
светофоры: 1
сборы: 1
каблуком: 1
ты: 1
или: 1
все: 1
живешь: 1
про: 1
уж: 1
рэп: 1
и: 1
дорожка: 1
потом: 1
вброд: 1
у: 1
тошно: 1
если: 1
но: 1
на: 1
коротко: 1
в: 1
же: 1
эта: 1
госпошлины: 1
знаю: 1

Дан список с визитами по городам и странам. Напишите код, который возвращает отфильтрованный список geo_logs, содержащий только визиты из России.

In [74]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit6': ['Лиссабон', 'Португалия']},
    {'visit7': ['Тула', 'Россия']},
    {'visit8': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']}
]

In [61]:
geo_logs_russia=[]
for x in geo_logs:
#     print(list(x.values())[0])
    if 'Россия' == list(x.values())[0][1]:
        geo_logs_russia.append(x)
geo_logs_russia

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit8': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

In [63]:
filtered_logs = []
for log in geo_logs:
    if 'Россия' in list(log.values())[0]:
        filtered_logs.append(log)
filtered_logs

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit8': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

In [65]:
for n in geo_logs:
    for i in n.values():
        if i[1] != 'Россия':
            geo_logs.remove(n)
geo_logs

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit5': ['Париж', 'Франция']},
 {'visit7': ['Тула', 'Россия']},
 {'visit8': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

In [69]:
geo_logs_copy = geo_logs[:]
for log in geo_logs_copy:
    if 'Россия' not in list(log.values())[0]:
        geo_logs.remove(log)
geo_logs

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit8': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

In [76]:
list(filter(lambda visit: 'Россия' in list(visit.values())[0], geo_logs))

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit8': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

In [80]:
[visit for visit in geo_logs if "Россия" in list(visit.values())[0][1]]

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit8': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

In [86]:
a = [1, 2, 3]
b = a
b.append(4)
print(a)

[1, 2, 3, 4]

(2324813203336, 2324813203336)